extends ../layout/admin-lte
block header
    | System admin
    | <small>Admin system users</small>
block js
    script(src='/libs/jqGrid-#{jqGrid}/js/i18n/grid.locale-en.js')
    script(src='/libs/jqGrid-#{jqGrid}/js/jquery.jqGrid.min.js')
    script(src='/js/utils.js')
    script(src='/js/events.js')
    script.
        $(function () {
            $("#jqGrid").jqGrid({
                url: '/users/list',
                styleUI: "Bootstrap",
                mtype: "GET",
                datatype: "json",
                page: 1,
                colNames: ['ID', 'Name', 'Email', 'Status', 'Last Login', 'Created At'],
                colModel: [
                    {name: '_id', key: true, width: 200},
                    {name: 'name', width: 80},
                    {name: 'email', width: 150},
                    {name: 'status', width: 50},
                    {name: 'lastLoginDate', width: 100},
                    {name: 'registeredDate', width: 100}
                ],
                height: 400,
                rowNum: 10,
                autowidth: true,
                shrinkToFit: true,
                pager: "#jqGridPager"
            });
        });
block css
    link(rel='stylesheet', href='/libs/jqGrid-#{jqGrid}/css/ui.jqgrid-bootstrap.css')
    link(rel='stylesheet', href='/css/override.css')
block content
    div.row: .col-xs-12
        div.box
            form.search-form.form-inline(role='form')
                div.form-group
                    input.form-control(type='text', name='key', placeholder='Name or Email')
                div.form-group
                    select.form-control(name='status', placeholder='Status')
                        option(value='')= 'All state'
                        option(value='normal')= 'Normal'
                        option(value='locked')= 'Locked'
                div.form-group
                    button.btn.btn-success.search-button(type='button')= 'Search'
            div.box-body
                table#jqGrid
                div#jqGridPager