mixin talk(post)

    div.row
        div.medium-8.small-centered.columns.post-wrapper
            div.post-header
                strong 红尘の人
            div.panel.post-content!= post.content.replace(/\n/g, '<br/>')

            if post.video
                if post.msgType == 15
                    video(src=post.video, controls='controls')
                else
                    div.post-video
                        a(href=post.video, style='color:blue') Video
            if post.medias && post.msgType == 1
                div.post-images
                    each media in post.medias
                        if media.mimeType == 'image/jpeg'
                            div.grid-picture-wrapper.float-left
                                a(href=media.src, data-lity='')
                                    img.grid-image(src=media.thumb)
            if post.medias && (post.msgType == 4 || post.msgType == 5)
                div.post-music
                    each media in post.medias
                        if media.mimeType == 'audio/mpeg'
                            audio(controls='controls')
                                source(src=media.src, type='audio/mpeg')
                        div.grid-audio-wrapper
                            a(href=media.src, target='_blank')
                                if media.mimeType == 'audio/mpeg'
                                    i.fa.fa-music.music-icon
                                if media.mimeType == 'video/mpeg'
                                    i.fa.fa-video-camera.music-icon
                                img.grid-image(src=media.thumb)
                            span!= media.title
                            span!= ' ' + media.description
            div.post-time-info
                small!= post.displayTime + ' <small>' + post.source.client + '</small>'
